@using WhiteHingeFramework.Classes.Items
@model NewWhlSku
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(x => Model.Sku)</h2>

<ul class="list-group">
    @foreach (var loc in Model.Locations)
    {
        switch(loc.LocType)
        {
            case LocationType.Unused:
                <li class="list-group-item list-group-item-danger">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
            case LocationType.Storage:
                <li class="list-group-item list-group-item-info">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
            case LocationType.Pickable:
                <li class="list-group-item list-group-item-success">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
            case LocationType.Prepack:
                <li class="list-group-item list-group-item-warning">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
            case LocationType.Delivery:
                break;
            case LocationType.PrepackInstant:
                <li class="list-group-item list-group-item-warning">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
            case LocationType.PrepackComplete:
                <li class="list-group-item list-group-item-warning">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
            case LocationType.Damaged:
                <li class="list-group-item list-group-item-danger">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
            case LocationType.Lost:
                <li class="list-group-item list-group-item-danger">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
            case LocationType.Returns:
                <li class="list-group-item list-group-item-danger">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
            default:
                <li class="list-group-item list-group-item-danger">@Html.DisplayFor(x => loc.ShelfName)</li>
                break;
        }
    }
</ul> 